.botoesNavegacao {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
    text-decoration:solid;    
    background-color: aqua;
}

p{
    font-size: 20px;
}

.fundoDaTela{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho{
    background-color: aquamarine;
    display: block;  
    text-align: center;;
    padding: 20px;
    margin-bottom: 10px;
}

img{
    max-width: 55px;
    max-height: 55px;
}

input{
    margin: 2px;
    display: inline;
}

.rodape{
    background-color: aquamarine;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 200px;
    text-align: center;
}

.alinhar{
    text-align: center;
}

nav{
    text-align: center;
}

header{
    text-align: center;
}

main{
    font-size: 15px;
    font-style: oblique;
}